#wdMinimap {
	position: absolute;
	height: 100%;
	top: 0;
	right: 30px;
	width: 220px;
	overflow: hidden;
	background-color: #f3f3f3;
	border: 0 solid #e5e5e5;
	border-left-width: 1px;
	box-sizing: border-box;
}

#wdMinimap #mini_code {
	position: absolute;
	width: 400%;
	height: auto;
	-webkit-transform-origin: top left;
	-webkit-transform: scale(0.25);
	word-wrap: normal;
	word-break: normal;
	white-space: pre;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	font-size: 12px;
	line-height: 15px;
	padding: 18px 0;
	top: 0;
	tab-size: 4;
	background: transparent;
	border: none;
	font-family: "SourceCodePro-Medium", "ＭＳ ゴシック", "MS Gothic", monospace;
}

#wdMinimap #visible_box {
	background-color: #888;
	opacity: 0.2;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	z-index: 50;
}

#editor-holder .CodeMirror-vscrollbar {
    display: none !important;
}
